
@using loginsession.Models;
@using loginsession.ViewModels;
@model loginsession.ViewModels.GroupViewModel


@{
    Layout = null;
    //ViewBag.Title = "Index";
    // Styles.Render("~/Content/css");
    Scripts.Render("~/bundles/jquery");

    Scripts.Render("~/bundles/bootstrap");
}
<!DOCTYPE html>

<body>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")

    @Scripts.Render("~/Scripts/bootstrap.min.js")

    </body>

 
   
   