@using loginsession.Models;
@{
    Layout = null;
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (Request.IsAuthenticated)
{
<p>
    Hello @CurrentUser.Name. How's the weather in ?
</p>

<p>
    <a href="@Url.Action("logout", "Account")">Log Out</a>
</p>
}
else
{
    <p>hello</p>

    <p>Don't have an account? <a href="@Url.Action("Register","Account")">Register</a></p>
    <p>Don't have an account? <a href="@Url.Action("login","Account")">login</a></p>
}